{% extends 'base.html' %}

{% block title %}
<title>Register as foodie</title>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card m-4 p-4 shadow rounded">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Register: Foodie</h2>
                    <form method="POST">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="mb-3 text-">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
                            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{field.id_for_label}}" name="{{field.name}}">
                            <div class="invalid-feedback">field.help_text</div>
                        </div>
                        {% endfor %}
                        
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    <div class="text-center mt-3">
                        <p>Already have an account? <a href="{% url 'foodie:login' %}">Login here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}